/*----------------------------*/
/*--------판매글열람페이지--------*/
/*----------------------------*/
.st4{
    border: 0.5px solid lightgray;
    background-color: lightgray;
}
#pdinfo{
    width: 1000px;
    display: inline-block;
}
#viewmain h4{
    width: 1000px;
    font-weight: 500;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 0;
}
#pdimg{
    display: inline-block;
    height: 350px;
    overflow: hidden;
    margin: 30px;
}
#pdimg img{
    width: 350px;
    height: 350px;
}
#pdtitle{
    display: inline-block;
    text-align: left;
    width: 500px;
    height: 350px;
    overflow: hidden;
    margin: 30px;
    position: relative;
}
#pdtitle p{
    font-size: 8pt;
    display: inline-block;
    text-align: right;
    margin: 10px;
    color: darkgray;
}
#pdinfo ul{
    padding-left: 15px;
}
#pdinfo li{
    margin-bottom: 20px;
    font-size: 10pt;
}
#pdinfo span{
    display: inline-block;
    width: 100px;
    color: gray;
}
li::marker{
    color: gray;
}
/*----------------------------*/
#btncontact{
    position: absolute;
    bottom: 0px;
    left: 0;
    margin: 20px 20px 0 0;
    height: 50px;
    width: 140px;
    border: none;
}
#btnheart{
    position: absolute;
    bottom: 0px;
    left: 180px;
    margin: 20px 20px 0 0;
    height: 50px;
    width: 140px;
    border: none;
}
#btnurl{
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 20px 0 0 0;
    height: 50px;
    width: 140px;
    border: none;
}
/*----------------------------*/
#pdaccount{
    position: relative;
    width: 1000px;
    display: inline-block;

}
.accountbox{
	width: 1000px;
    height: 500px;
    display: inline-block;
}

.viewtab { 
    display:table; 
    table-layout:fixed; 
    border-left: 1px solid #e7e7e7;
    padding-left: 0;
}
.viewtab li { 
    display:table-cell; 
    height:50px;
    width: 200px;
}
.viewtab li a { 
    display:block;
    position:relative;
    height:50px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #444;
    line-height:50px;
    text-align:center;
}
.viewtab li a:after { 
    content:'';
    display:block;
    position:absolute;
    top:0; right:0; bottom:0; width:1px;
    background:#e6e3df;
}
.viewtab li.on a, .viewtab li:hover a {
    border-bottom-color:transparent; 
    border-top:1px solid #444;
}

.viewtab li.on a:after, .viewtab li:hover a:after { 
    content:''; 
    display:block; 
    position:absolute; 
    top:0; right:0; bottom:-1px; width:1px; 
    background:#444;
}
.viewtab li.on a:before, .viewtab li:hover a:before { 
    content:''; 
    display:block; 
    position:absolute; 
    top:0; left:0; bottom:-1px; width:1px; 
    background:#444;
}

.tab-content{
    height: 300px;
	display: none;
	padding: 15px;
}

.tab-content.current{
    height: 300px;
	display: inherit;
}
/*----------------------------*/
.tabside{
    border-bottom: 1px solid #444;
    background-color: #444;
    display: inline-block;
    width: 600px;
    position: absolute;
    top: 58.5px;
    left: 400px;
}
/*----------------------------*/
.tab-content{
    text-align: left;
    position: relative;
}
.tab-content h3{
    font-weight: normal;
}
.tab-content p{
    font-size: 11pt;
    line-height: 25pt;
}
/*----------------------------*/
#댓글{
    border: 1px solid rgb(142, 142, 142);
}
#댓글:focus{
    outline: none;
    border-color: black;
}
#btn댓글{
    position: absolute;
    bottom: 5px;
    right: 30px;
    height: 40px;
    width: 100px;
    border: none;
}
